

{% extends 'cover.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Sign in</title>
{% endblock title %}
{% block content %}
    <form class="" method="post">
        {% csrf_token %}
        <fieldset class="form-text mt-5">
            <h5>Sign in with Email</h5>
            {{ form|crispy }}
        </fieldset>
        <div class="pb-3">
            <small>
                <a class="pr-2 text-muted" href="{% url 'cover' %}">cancel</a>
            </small>
            <button type="submit" class="btn btn-info">Let me in!</button>
        </div>
    </form>
    <div class="card-body text-center border">
        <div class="btn-outline-light">
            <small class="text-muted">
                Want an Account?<a class="ml-2" href="{% url 'account_signup' %}">Sign-Up Now</a>
            </small>
        </div>
        <div class="btn-outline-light">
            <small class="text-muted">
                Can't Sign in?<a class="ml-2" href="{% url 'account_signup' %}">Reset Password</a>
            </small>
        </div>
    </div>
{% endblock %}

