{#{% extends '_base.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% load socialaccount %}#}
{##}
{#{% block title %}#}
{#    Sign In#}
{#{% endblock title %}#}
{##}
{#{% block content %}#}
{#    <h4><a href="{% provider_login_url 'github' %}">GitHub OAuth Sign in</a> </h4>#}
{#    <h4>Local Account Sign <in></in></h4>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <button type="submit" class="btn btn-info">Yes, Sign In</button>#}
{#    </form>#}
{#{% endblock content %}#}

{% extends 'home.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign in</title>
{% endblock title %}

{% block side-content %}


    <div class="card-body border btn-lg text-center">
            <a href="{% provider_login_url 'github' %}"><i class="fab fa-github"></i> Sign in with GitHub</a>
    </div>

    <form class="" method="post">
        {% csrf_token %}
        <fieldset class="form-text mt-5">
            <h6 class="">If you have an account here</h6>
            {{ form|crispy }}
        </fieldset>
        <div class="pb-3">
            <small>
                <a class="pr-2 text-muted" href="{% url 'home' %}">cancel</a>
            </small>
            <button type="submit" class="btn btn-info">Let me in!</button>
        </div>
    </form>

    <div class="card-body text-center border">
        <div class="btn-outline-light">
            <small class="text-muted">
                Want an Account?<a class="ml-2" href="{% url 'account_signup' %}">Sign-Up Now</a>
            </small>
        </div>
        <div class="btn-outline-light">
            <small class="text-muted">
                Can't Sign in?<a class="ml-2" href="{% url 'account_signup' %}">Reset Password</a>
            </small>
        </div>
    </div>

{% endblock %}