{% extends 'home.html' %}
{#{% load socialaccount %}#}
{% load crispy_forms_tags %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}

    {#    <div class="card-body border btn-lg text-center">#}
    {#        <p><a href="{% provider_login_url 'github' %}"><i class="fab fa-github"></i> Sign in with GitHub</a></p>#}
    {#        <p><a href="{% provider_login_url 'linkedin_oauth2' %}"><i class="fab fa-linkedin"></i> </i> Sign in with Linkedin</a></p>#}
    {#    </div>#}

    <form class="" method="post">
        {% csrf_token %}
        <h3>Sign in with Email</h3>
        <fieldset class="form-text mt-5">
            {{ form|crispy }}
        </fieldset>
        <div class="pb-3">
            <small>
                <a class="pr-2 text-muted m-1" href="{% url 'home' %}">Cancel</a>
            </small>
            <button type="submit" class="btn btn-success m-1">Yes Let me in!</button>
        </div>
    </form>
    <div class="card-body text-center border">
        <div class="btn-outline-light">
            <small class="text-muted">
                Want an Account?<a class="ml-2" href="{% url 'account_signup' %}">Sign-Up Now</a>
            </small>
        </div>
        {#        <div class="btn-outline-light">#}
        {#            <small class="text-muted">#}
        {#                Can't Sign in?<a class="ml-2" href="{% url 'account_signup' %}">Reset Password</a>#}
        {#            </small>#}
        {#        </div>#}
    </div>
{% endblock %}
