{% extends 'cover.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Sign out</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h6>Are you sure you want to sign out?</h6>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'cover' %}" class="btn btn-light btn-sm">cancel</a>
            <button type="submit" class="btn btn-danger btn-sm ml-2">Yes, sign me out</button>
        </form>
    </div>
{% endblock %}
