

{% extends 'cover.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Sign Up</title>
{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3>Sign up with Email</h3>
            {{ form|crispy }}
        </fieldset>
        <div>
            <small>
                <a class="pr-2 text-muted" href="{% url 'cover' %}">cancel</a>
            </small>
            <button type="submit" class="btn btn-info">Sign me up!</button>
        </div>
    </form>
{% endblock %}

