{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-dark text-muted m-1" href="{% url 'post-list' %}">cancel</a>
                <button class="btn btn-outline-success m-1" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}

