{% load humanize %}
<article class="media content-section">
    <div class="media-body">
        <h5 class="article-title">{{ post.title|title }}</h5>
        <img class="img-fluid" src="{{ post.header_img.url }}" alt="Post header photo">
        <div class="article-metadata">
            <small class="text-muted">
                Last updated {{ post.updated_at|naturalday }} | {{ post.author.first_name }} {{ post.author.last_name }}
            </small>
        </div>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>