{% extends 'base.html' %}

{% block title %}
    WebApp-About
{% endblock title %}

{% block content %}
    <div class="media">
        <h4>Django Fireup</h4>
        <p class="text-justify">
            I love designing and developing modern data-driven web applications that power and form the foundation for the apps, websites, and smart devices that people and businesses use every day. I am a Python enthusiast, and that is my primary choice of programming languages and the core of development frameworks I use.
        </p>
    </div>
{% endblock %}