{% extends 'base.html' %}

{% block title %}WebApp-About{% endblock title %}

{% block content %}
    <div class="media">
    <h4>Django Fireup</h4>
    <p class="text-justify">
        This is a micro Django framework to quickly jump start prototyping Django WebApps.
        The Development web server and PostgreSQL run in Docker.
        3rd party favorite development tools, Django Debug Toolbar and Django Extension are installed.
        The aim is to deploy in Heroku PaaS with all highest security settings.
        For detail information please see the README on the git repo.
        Thank you for using this WebApp launch pad! Your feedback is welcomed.
    </p>
    </div>
{% endblock %}