{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Babak Nikanjam">
    <meta name="author" content="Babak Nikanjam">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/default_logo.png' %}"/>
    {% if title %}
        <title>{{ title }} | Django Docker Launchpad</title>
    {% else %}
        <title>Django Docker Launchpad</title>
    {% endif %}

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5727275770.js"></script>
</head>
<body class="d-flex flex-column h-100">
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">WebApp Launchpad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                {#                Navbar Left Side#}
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'post-list' %}">Blog</a>
                    {#                    <a class="nav-item nav-link" href="#">About</a>#}
                </div>
                {#                Navbar Right Side#}
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {#                        <a class="nav-item nav-link" href="#">Test 1</a>#}
                        {#                        <a class="nav-item nav-link" href="#">Test 2</a>#}
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ user.first_name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'post-create' %}"><i class="fas fa-plus"></i> New
                                    Post</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                        class="fas fa-sign-out-alt"></i> Sign out</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign in
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% provider_login_url 'github' %}"><i
                                        class="fab fa-github"></i> Sign in with GitHub</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_login' %}"><i class="fas fa-at"></i> Sign
                                    in with Email</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-md-4">
            {% block side-content %}

            {% endblock %}
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Developed by Babak Nikanjam - Powered with Django</span>
    </div>
</footer>

<script src="{% static 'bootstrap/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
