

{% extends 'home.html' %}
{% load static %}
{% block content %}

    <div class="mb-5">
        {% if user.is_authenticated %}
            {% if user.first_name %}
                <div>Welcome {{ user.first_name }}!</div>
            {% endif %}
            You are signed in with {{ user.email }}
        {% else %}
            <div><small>Welcome!</small></div>
        {% endif %}
    </div>

    <div class="card mb-3" style="max-width: 450px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{% static 'images/bnik.jpg' %}" class="card-img img-thumbnail" alt="My profile photo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Backend Web Developer</h5>
                    <p class="card-text">
                    <p>I am fascinated with designing and developing data-driven web apps (solutions) that power and form the foundation of our new way of life and experiences. I am a Python enthusiast and love its design philosophy, history and its evolving community.</p>
                    <p>I also think using established, tested, extensible, evolving and battery included frameworks that can perform at great scale are among best choices for web development.</p><p>Combine the last two paragraphs and we arrive at Django! <i class="far fa-laugh-wink"></i></p>
                    <p class="lead m-3">
                        <i class="fab fa-ubuntu"></i>
                        <i class="fab fa-docker"></i>
                        <i class="fab fa-git-alt"></i>
                        <i class="fas fa-database"></i>
                        <i class="fab fa-python"></i>
                        Django
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3"></i>
                        <i class="fab fa-bootstrap"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-react"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <hr>
        {% if user.is_authenticated %}
            <div><a href="tel:+15102697230"><i class="fas fa-mobile-alt"></i> 510.269.7230</a></div>
            <div><a href="mailto:m@bnik.org"><i class="far fa-envelope"></i>  m@bnik.org</a></div>
        {% else %}
            <div><small><a href="{% url 'account_login' %}">please sign in via github to contact me</a> </small></div>
        {% endif %}
    </div>
{% endblock %}

