{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
    <h4 class="">Main-Content</h4>
    {% if user.is_authenticated %}
        {% if user.first_name %}
            Welcome {{ user.first_name }}
        {% else %}
            You are logged in with {{ user.email }}
        {% endif %}
        <a href="{% url 'account_logout' %}">Sign out</a>
    {% else %}
        You are not signed in.
        <a href="{% url 'account_login' %}">Sign in</a> - <a href="{% url 'account_signup' %}">Sign up</a>
    {% endif %}
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2 mt-4" type="text" placeholder="Search" aria-label="Search">
        <button class="border-0" type="submit"><i class="fas fa-search mt-4"></i></button>
    </form>
{% endblock content %}

{% block side-content %}
    {% include 'flash_messages.html' %}
{% endblock %}
