{% extends 'cover.html' %}
{% load static %}

{% block title %}
    Resume
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'cover' %}" class="btn btn-outline-secondary m-1">Cancel</a>
        <a href="{% static 'pdfs/babak_nikanjam_resume.pdf' %}" download="" class="btn btn-outline-success m-1">Download Resume</a>
    </div>
    <hr>
    <a href="https://github.com/bnikanjam/django_docker_starter/blob/master/assets/pdfs/babak_nikanjam_resume.pdf" class="text-muted">Resume in GitHub</a>

{% endblock %}

