{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    {{ book.title }}
{% endblock title %}

{% block content %}
    <div>
        <small><a href="">{{ book.author }} | ${{ book.price }}</a></small>
        <h5><a href="">{{ book.title }}</a></h5>
        <img src="{{ book.cover.url }}" alt="{{ book.title }}">
        <div class="small">
            {% if book.reviews.all %}
                {% if book.reviews.count == 1 %}
                    One review is in!
                {% else %}
                    {{ book.reviews.count|apnumber|capfirst }} reviews:
                {% endif %}
                {% for review in book.reviews.all %}
                    <li>{{ review }} by  {{ review.author }}</li>
                {% endfor %}
            {% else %}
                No reviews yet!
            {% endif %}
        </div>
    </div>
{% endblock content %}
